body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
}

nav {
    position: relative;
    height: 50px;
}

nav img {
    max-height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

nav p {
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    margin: 0;
    left: 50px;
    top: 13px;
}

nav a {
    color: #ff6783;
    text-decoration: none;
}

header {
    margin-top: 5rem;
    margin-bottom: 5rem;
}



header p, article p {
    color: #3c5dac;
    font-weight: 500;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
}

article img {
    max-width: 200px;
    border-radius: 50%;
}


article div a{
    width: 20rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow:  1px -1px 1px 1px  rgb(238, 234, 234);   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 50px;
    text-decoration: none;

}


article i {
    color: #3c5dac;
}

/* Desktop and larger screen view */

@media (max-width: 592px ) {
    article section > img {
        display: none;
    }

    article div a {
        height: 8rem;
    }
}

